.main-container {
  /* Layout*/
  display: grid;
  grid-template-rows: repeat(5, auto);

  /* Small */
  @media screen and (max-width: 375px) {
    .content {
      margin: 0 1rem 0 1rem;
    }
  }
  /* Medium */
  @media screen and (min-width: 376px) and (max-width: 1439px) {
    .content {
      margin: 0 2.5rem 0 2.5rem;
    }
  }
  /* Large */
  @media screen and (min-width: 1440px) {
    max-width: 100%;

    .content {
      margin: 0 6rem 0 6rem;
    }
  }
}
