@import "./global";

.showcase-container {
  padding-top: 4rem;
  margin-top: 3rem;

  .content {
    @include grid(none, none);
    grid-template-rows: repeat(4, auto);
    grid-gap: 2rem;
    /* Large */
    @media screen and (min-width: 1440px) {
      @include grid(center, center);
      grid-template-rows: unset;
      grid-template-columns: repeat(2, auto);
    }
    /* Medium */
    @media screen and (max-width: 1439px) {
      @include grid(center, center);
      grid-template-rows: unset;
      grid-template-columns: repeat(2, auto);
    }

    /* Extra */
    @media screen and (max-width: 718px) {
      grid-template-columns: repeat(1, auto);
    }
    .service {
      /* Medium */
      @media screen and (max-width: 1441px) {
        max-width: 300px;
        justify-self: center;
      }
      @include gridCenter();

      img {
        margin-bottom: 2rem;
      }

      .txt {
        margin-bottom: 2.5rem;
        text-align: center;

        p:nth-child(1) {
          font-weight: var(--weight2);
          font-size: var(--p2);
          line-height: var(--line-height-1);
          margin-bottom: 1rem;
          opacity: 1;
        }
        p:nth-child(2) {
          /* Large */
          @media screen and (min-width: 1440px) {
            max-width: 21.9rem;
          }
        }
      }
    }
  }
}
