@import "./global";

.testimonial-container {
  z-index: 1;
  @include grid(none, none);

  .content {
    margin-bottom: 10rem;
    @include grid(none, none);
    grid-gap: 2rem;
    /* Medium */
    @media screen and (max-width: 1440px) {
      grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    }
    /* Large */
    @media screen and (min-width: 1441px) {
      grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    }

    .testimonial {
      border-radius: 5px;
      background-color: var(--dark-blue4);
      padding: 25px;
      box-shadow: var(--dark-blue1) 0 0 10px 0;

      .icon {
        position: absolute;
        img {
          width: 2rem;
          position: relative;
          top: 1.3rem;
          z-index: -5;
          top: -3rem;
          left: -2rem;
        }
      }

      .creator {
        margin-top: 1rem;
        @include flex(none, none);
        .img {
          margin-right: 0.8rem;
          img {
            width: 3rem;
            border-radius: 50%;
          }
        }
      }
    }
  }

  /* Pop up */
  .pop-up {
    /* Large */
    @media screen and (min-width: 1440px) {
      max-width: 50rem;
      justify-self: center;
      padding: 50px 100px 50px 100px;
    }

    /* Medium */
    @media screen and (max-width: 1439px) and (min-width: 377px) {
      max-width: 40rem;
      justify-self: center;
      padding: 30px;
    }

    border-radius: 5px;
    @include breakPoints();
    background-color: var(--dark-blue4);
    padding: 25px;
    box-shadow: var(--dark-blue1) 0 0 10px 0;
    text-align: center;

    p:nth-child(1) {
      font-weight: var(--weight2);
      font-size: var(--p2);
      line-height: var(--line-height-1);
      margin-bottom: 1rem;
      opacity: 1;
      @media screen and (min-width: 1440px) {
        font-size: 2rem;
        line-height: calc(
          var(--line-height-2) + var(--line-height-2) + var(--line-height-1) -
            var(--line-height-2)
        );
        font-weight: var(--weight3);
      }
      /* Medium */
      @media screen and (max-width: 1439px) and (min-width: 377px) {
        font-size: 1.5rem;
        line-height: calc(
          var(--line-height-2) + var(--line-height-2) + var(--line-height-1) -
            var(--line-height-2)
        );
        font-weight: var(--weight3);
      }
    }
    .actions {
      /* Large */
      @media screen and (min-width: 1440px) {
        @include flex(center, center);
      }

      input {
        margin-top: 2rem;
        padding: 15px;
        width: 100%;
        border-radius: 20px;
        font-size: 0.7rem;
      }

      span {
        position: absolute;
        margin: 6.5rem 22rem 0 0;
        font-weight: var(--weight3);
        font-size: var(--p3);
        @media screen and (max-width: 1439px) and (min-width: 467px) {
          margin: -4rem 0 0 0.5rem;
        }
        @media screen and (max-width: 468px) {
          margin: -4rem 0 0 1.5rem;
          font-size: 10px;
        }
      }
      button {
        width: 100%;
        margin-top: 1rem;
        font-size: 0.8rem;
        padding: 13px;
        @media screen and (min-width: 1440px) {
          margin: 2rem 0 0 2rem;
          width: 40%;
        }
      }
    }
  }
}
